.terms{
    padding: 4px;
    text-align: center;
    background: #3f51bf;
    color: white;
    font-size: 30px;
}
.termsMain{
    text-align: left;
    margin-left: 4rem;
    margin-right: 4rem;
}